*{
    margin: 0px;
    padding: 0px;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background-image: url(../imagens/fundo-madeira.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
    
}
#telefone{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
}
#home{

    position: relative;
    top: 81px;
    left: 23px;
    height: 469px;
    width: 266px;
}
#redes-sociais img{
    width: 50px;
    border-radius: 50px;
    margin: 10px;
    box-shadow: -2px 2px 10px 3px rgba(0, 0, 0, 0.582);
    box-sizing: border-box;
}

#redes-sociais img:hover{
    box-shadow: -5px 5px 20px 7px rgba(0, 0, 0, 0.808);
    transform: translate(9px, -5px);
}